*
!LICENSE
!README.md
!*/
!.gitattributes
!.gitignore
!build.zig
!build.zig.zon
!nsible
!src/**
!assets/assist/aids.gzl
!assets/.gzl/.satori.gzl
!assets/.gzl/.syntaxer.gzl
!assets/.gzl/.osColors.gzl
!assets/gfx/**

assets/void.tome
*.tome
*.exp
