*
!LICENSE
!README.md
!*/
!.gitattributes
!.gitignore
!build.zig
!buid.zig.zon
!nsible
!src/**
!assets/assist/aids.gzl
!assets/.gzl/.syntaxer.gzl
!assets/.gzl/.osColors.gzl
!assets/gfx/**
assets/void.tome
*.tome
